<div>
  <li *ngFor="let expense of ExpenseList">
    <span class="text">description: {{expense.Description}}</span>
    <span class="text">type: {{expense.Type}}</span>
    <span class="text">amount: {{expense.Amount}}</span>
    <span class="text">date: {{expense.Date}}</span>
    <button type="button" (click)="delete(expense.Description)">Delete</button>
  </li>
</div>

<div>
  <label>Description:</label>
  <input #description>

  <label>Type:</label>
  <input #type>

  <label>Amount:</label>
  <input #amount>

  <label>Date:</label>
  <input #date>
</div>

<div>
  <button type="button"
          (click)="add(description.value,type.value,amount.value,date.value);
          description.value='';type.value='';amount.value='';date.value=''">Add</button>
</div>
