<div class="centered-box">
    <h1 class="title">{{title}}</h1>
    <div class="container">
        <table class='table' *ngIf='existingRecords.length'>
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Amount</th>
                    <th>CreateTime</th>
                    <th>Delete?</th>
                </tr>
            </thead>
            <tbody class="itemlist" *ngFor='let item of existingRecords'>
                <tr>
                    <th>{{item.description}}</th>
                    <th>{{item.type}}</th>
                    <th>{{item.amount}}</th>
                    <th>{{item.createTime}}</th>
                    <th><button (click)="deleteItems()">Delete?</button></th>
                </tr>
            </tbody>
        </table>
    </div>
    <button class="Created"><a routerLinkActive='active' routerLink='new' href="#">CREAT</a></button>

</div>