<!-- src/app/app.component.html -->
<div>
    <h2>Add Expense</h2>
    <div>
      <input [(ngModel)]="newExpense.description" placeholder="Description" />
      <input [(ngModel)]="newExpense.type" placeholder="Type" />
      <input [(ngModel)]="newExpense.amount" placeholder="Amount" />
      <input [(ngModel)]="newExpense.date" placeholder="Date (YYYYMMDD)" />
      <button (click)="addExpense()">Add</button>
    </div>
  
    <h2>Expenses</h2>
    <a>Description - type - amount - date</a>
    <ul *ngIf="expenses.length > 0">
      <li *ngFor="let expense of expenses; let i = index">
      {{ expense.description }}   {{ expense.type }}   {{ expense.amount }}   {{ expense.date }}
        <button (click)="deleteExpense(expense.id)">Delete</button>
      </li>
    </ul>
  </div>
  