<section>

  <app-filter (changeCategory)="filterCategories($event)"></app-filter>

  <div class="fade-animation" *ngIf="todoList.length > 0; else emptyToDoList">

    <!-- Urgent task -->
    <p *ngIf="this.urgentTaskExists">⚠️ Urgent</p>
    <ul>
      <ng-container *ngFor="let task of todoList.slice().reverse()">
        <li *ngIf="task.isUrgent">
          <button class="empty-checkbox" (click)="setTaskAsDone(task)"><svg class="feather feather-check" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24"><polyline points="20 6 9 17 4 12" /></svg></button>
          <a routerLink="/update-task/{{task.id}}">
            {{task.category! | categoryEmoji}}
            {{task.description}}
          </a>
        </li>
      </ng-container>
    </ul>

    <!-- No-urgent task -->
    <p *ngIf="this.nonUrgentTaskExists">🌸 Others</p>
    <ul>
      <ng-container *ngFor="let task of todoList.slice().reverse()">
        <li *ngIf="!task.isUrgent">
          <button class="empty-checkbox" (click)="setTaskAsDone(task)"><svg class="feather feather-check" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24"><polyline points="20 6 9 17 4 12" /></svg></button>
          <a routerLink="/update-task/{{task.id}}">
            {{task.category! | categoryEmoji}}
            {{task.description}}
          </a>
        </li>
      </ng-container>
    </ul>

  </div>

  <ng-template #emptyToDoList>

    <div class="empty-home">
      <p>No expense records at the moment 🙌</p>
      <a class="blue-button" routerLink="/new-record">Create an expense record</a>
    </div>

  </ng-template>

</section>

