<div class="search">
    <input type="search" placeholder=" Description" class="search_line" [(ngModel)]="Description"  >
</div>
<div class="search">
    <input type="search" placeholder=" Type" class="search_line" [(ngModel)]="Type"  >
</div>
<div class="search">
    <input type="search" placeholder=" Cost" class="search_line" [(ngModel)]="Cost" >
</div>
<div class="search">
    <input type="search" placeholder=" Date" class="search_line" [(ngModel)]="Date" >
</div>

<br>
<button (click)="Save()">Save</button>
