
<div class = "record-table">
            <table >
                <ng-container *ngIf= "currRecordList.length">
                    <tbody>
                        <tr *ngFor= "let item of currRecordList">

                            <th [ngClass]= "item"  >
                                
                                <!-- <a [routerLink]= "['/table/item', item.id]"> -->
                                    {{ item.description}}
                                <!-- </a> -->
                            </th>

                        </tr>
                    </tbody>

                </ng-container>
            
            </table>

    


</div>

<div class = "add-item">
    
    <button>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
          </svg>
        CREATE
    </button>

</div>