<div class='expenseMainPage'>
  <div class="expenseCreation">
    <h2>Create Expense Record</h2>
    <div class="expenseInputGroup">
      <div class="expenseInputField">
        <label>Description</label>
        <input type="text" class="expenseInput" placeholder="description" [(ngModel)]="description"/>
      </div>
      <div class="expenseInputField">
        <label>Type</label>
        <input type="text" class="expenseInput" placeholder="type" [(ngModel)]="type"/>
      </div>

      <div class="expenseInputField">
        <label>Amount</label>
        <input type="text" class="expenseInput" placeholder="amount" [(ngModel)]="amount"/>
      </div>
      <div class="expenseInputField">
        <label>Date</label>
        <input type="date" class="expenseInput" placeholder="date" [(ngModel)]="date"/>
      </div>


    </div>
    <button mat-raised-button class="createBtn" (click)="create()">Create</button>
    <span class="warning" *ngIf="showWarning"> Please fill all fields</span>
  </div>

  <div class="recordDisplayContainer">
    <h2>Your Expense Records</h2>
    <div class="recordDisplay">
      <ng-container *ngIf="!expenseRecordList.length">
        <h3>No Record</h3>
      </ng-container>
      <ng-container *ngFor="let record of expenseRecordList">
        <div class="recordItem">
          <label class="recordValue">{{record.description}}</label>
          <label class="recordValue">{{record.type}}</label>
          <label class="recordValue">￥{{record.amount}}</label>
          <label class="recordValue">{{record.date}}</label>
          <button class="deleteBtn" (click)="deleteRecord(record.id)">delete</button>
        </div>
      </ng-container>
    </div>
  </div>
</div>
